
        <img src= "Images/vi.png" height="40" width="50" class="image" align= "left"> 
        <img src= "Images/n.png"height="20" width="30" class= "image" align= "left">
    
        <p style= "text-align: center;">
            <text style= "font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:xx-large;">
                <font color= "blue">NARY</font>
                <font color= "white">FLIX</font>
            </text>
            <span style="float:right; font-size:16">
                <a href="sign_in.html">
                    <button type="button"class= "btn_1">Sign In</button>
                </a>

                <br><font color="white">or New User?.</font>
                <br><a href="sign_up.html"><font color="blue">Sign up</font></a> 
            </span>
        </p>
        <br>
        <hr>

        <br>
        <div class= "box">
            <img src= "Images/bg-2.png" align= left>
            <p>
                <br><br><br><br><br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <font face='Segoe UI' size= 40 color="white">
                    Welcome To Nary Flix
                </font>

                <br><br><br>
                <font face= "Arial" size= 3 color= "white">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Enjoy exclusive shows and series only available in Nary Flix
                    
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    along with 1000+ movies and TV shows.
                </font>
            </p>

            <br><br><br>
            <text style="float: right;">
                <a href= "" style= "text-decoration: none;">
                    <button type="button" class= "btn_2">Subscribe Now!</button>
                </a>
            </text>
            
            <center>
                <br><br><br><br><br><br>
                <a href= "sign_in.html" style= "text-decoration: none;">
                    <button type="button" class= "btn_2">Go to Login page</button>
                </a>   
            </center>
        </div>
