<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Sign in</title>

        <link rel="stylesheet" href="sign_style.css"> 
        
        <script src = "sign_up.js"></script>
    </head>

    <body>
        <img class= "shape" src= "Images/lg.png" alt= "" />
        <div class = "box">
            <h1 class="box-title">Sign In</h1>
            <form name="Signin_form">
    
                <br /><br />
                <label>Email Id:</label><input type="text" name="user_name" placeholder="Email-id"/>
                
                <br /><br /><br />
                <label>Password:</label><input type="password" name="pwd" placeholder="Password" />
                                
                <br /><br /><br /><br />
                <a href = "sign_in.html">
                    <button onclick = "return Signin_valid()">Sign in</button>
                </a>

                <br /><br />
                <font class= "ft_1">
                    If you don't have an account, 
                    <a href= "sign_up.html">
                        <font class= "ft_2">Signup</font>
                    </a>here.
                </font>
            </form>
        </div>
    </body>
</html>